@use '../../../_assets/vars' as *;

.categoryPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 40px;
  gap: 20px;
}

.heroHeader {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  img {
    width: 48px;
    height: 48px;
    transform: rotate(90deg);
  }
}

.filteredBlock {
  display: flex;
  align-items: center;
  gap: 20px;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    background-color: Supernova;
    border: none;
    outline: none;
    border-radius: 100px;
    transition: background-color 0.3s;

    &:active {
      background-color: $coral-red;
    }
  }
}