html {
    font-weight: 400;
    line-height: 1.6;
    position: relative;
    color: #2a3950;
    font-size: 62.5%;
    overflow-x: hidden;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

* {
    scroll-behavior: smooth;
}

body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    position: relative;
    color: #2a3950;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

img,
a,
label,
button {
    user-select: none;
}

button {
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

input, textarea {
    font-size: 16px;
}

