// Main colors
$black: #191C24;
$black_2: #383559;
$black_3: #05012C;
$black_4: #171A23;
$black_5: #0E171F;
$black_6: #1A1F2E;
$black_7: #3C3A4F;

$white: #fff;

$color-bg: #F3F3F3;
$color-bg2: #EAEAEB;
$color-form: #E8EAF2;
$color-focus-input: #EEF0F5;

$blue: #024CE8;
$blue2: #353E58;
$blue3: #2242E4;
$blue4: #4A9AF9;
$blue5: #3f5efb;
$blue6: #1349A0;
$blue7: #59ABFF;
$blue8: #0362D1;
$blue9: #2C4BE6;

$orange: #fc466b;

$red: #FF5267;
$athens-gray: #F5F5F8;
$athens-gray-v2: #EFF0F5;
$green: #6FCF97;


$gray: #828DAC;
$gray_2: #707589;
$gray_3: #EAEAEB;
$gray_4: #1A2A3D1A;
$gray_5: #BDBDBD;
$gray_6: #E0E0E0;
$gray_7: #cccccc;
$gray_8: #D4DCF3;

$border: #E0E6F6;

$error: #F50B35;
$silver: #C2C2C2;
$primary-100: #B0D0FF;
$grey-neutral-700: #4D525A;
$primary-900: #002B6B;
$vulcan: #131620;
$blue-ribbon: #005EE8;
$blue-ribbon-v2: #0067FF;
$shark: #2D3035;
$waikawa-gray: #55618A;
$athens-gray: #F6F6F9;
$porcelain: #F0F1F2;
$bali-hai: #929CBA;
$dodger-blue: #3F5EFB;
$waikawa-gray: #5D6B98;
$wild-blue-yonder: #7D89AD;
$mischka: #CDD1DF;
$midnight-blue: #003179;

// Header
$header-height-mobile: 60px;
$header-height-tablet: 72px;

// Animation
$fast-animation: .3s ease-in-out;
$long-animation: .5s ease-in-out;

// Media Query
$media-mob-sm: 320px;
$media-mob-md: 360px;
$media-mob-md-pro: 430px;
$media-mob-md-pro-plus: 445px;
$media-mob-lg: 600px;

$media-tab-sm: 768px;
$media-tab-md: 800px;
$media-tab-lg: 1024px;

$media-des-sm: 1280px;
$media-des-md: 1440px;
$media-des-lg: 1600px;
