// Main colors
$azure-radiance: #007BFF;
$white: #fff;
$wild-sand: #F5F5F5;
$royal-blue: #4169E1;
$silver: #cccccc;
$dusty-gray: #999999;
$coral-red: #FF4444;
$dove-gray:#666666;
$mine-shaft: #333333;
$blue-ribbon: #0066FF;
$blue-ribbon-v2: #155DFC;
$science-blue:#0052CC;
$gold: #FFD700;
$black: #000000;
$supernova: #FFC700;
$gallery: #EEEEEE;
$school-bus-yellow: #FFDF20;

// Header
$header-height-mobile: 60px;
$header-height-tablet: 72px;

// Animation
$fast-animation: .3s ease-in-out;
$long-animation: .5s ease-in-out;

// Media Query
$media-mob-sm: 320px;
$media-mob-md: 360px;
$media-mob-md-pro: 430px;
$media-mob-md-pro-plus: 445px;
$media-mob-lg: 600px;

$media-tab-sm: 768px;
$media-tab-md: 800px;
$media-tab-lg: 1024px;

$media-des-sm: 1280px;
$media-des-md: 1440px;
$media-des-lg: 1600px;
