.hero {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;

  .title {
    color: #ffffff;
    position: relative;
    z-index: 1;
    text-align: center;
  }
}

.heroImages {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}