@import '../../_assets/vars';

.h2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 45px;
  color: #0b1525;

  @media (max-width: 600px) {
    font-size: 2.4rem;
    line-height: 34px;
  }
}
