@use '../../../_assets/vars' as *;

.form {
  border: none;
  padding: 16px;
  border-radius: 16px;
  background-color: $blue-ribbon-v2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.inputGroupLabel {
  background-color: $white;
  display: flex;
  align-items: center;
  border: 1px solid $silver;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  position: relative;
}

.inputField {
  border: none;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &:focus-visible {
    outline: none;
  }
}

.inputFieldDate {
  padding: 8px 40px 8px 8px;
  border: none;
  outline: none;
  border-radius: 8px;
  width: 100%;
  background-color: $white;
  cursor: pointer;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    width: 100%;
  }

  &::-moz-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    opacity: 0;
  }
}

.error {
  color: $coral-red;
  font-size: 12px;
  margin-top: 4px;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.dropdownList {
  list-style: none;
  margin: 4px 0 0 0;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid $silver;
  border-radius: 8px;
  background-color: $white;
  position: absolute;
  width: 100%;
  top: 58px;
  left: 0;
  z-index: 1000;
}

.dropdownItem {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: $gallery;
}

.arrow {
  transform: rotate(0);
  transition: transform 0.3s ease-in-out;
}

.arrow.active {
  transform: rotate(180deg);
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $school-bus-yellow;
  border: none;
  padding: 12px 40px;
  width: 100%;
  font-weight: bold;
  border-radius: 999px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.submitButton:hover {
  opacity: 0.9;
}

.loader {
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.submitButton:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
